USE [master]
GO
/****** Object:  Database [ACCOUNTDB]    Script Date: 2014/1/19 23:43:44 ******/
CREATE DATABASE [ACCOUNTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'account', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL\MSSQL\DATA\account.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'account_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL\MSSQL\DATA\account_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACCOUNTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACCOUNTDB]
GO
/****** Object:  User [account]    Script Date: 2014/1/19 23:43:45 ******/
CREATE USER [account] FOR LOGIN [account] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [account]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [account]
GO
/****** Object:  Table [dbo].[account]    Script Date: 2014/1/19 23:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[pwd] [varchar](100) NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
